# dependencies
/node_modules

# tests
testReports/*
!testReports/**/
testReports/jest/*
!testReports/jest
!testReports/jest/jest-results.json
testReports/jest/coverage/*
!testReports/jest/coverage
!testReports/jest/coverage/coverage-final.json
testReports/mocha/*
!testReports/mocha
!testReports/mocha/mochawesome.json

# production
/build

# logs
*.log.*

# OS files
.DS_Store
/.vscode
debug.log
