// General
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Page
@keyframes titleExit {
  0% {
    transform: translateX(-1em);
  }
  25% {
    transform: translateX(-0.45em);
  }
  35% {
    transform: translateX(-0.25em);
  }
  45% {
    transform: translateX(-0.25em);
  }
  100% {
    transform: translateX(-9em);
  }
}

@keyframes titleEnter {
  0% {
    transform: translateX(-9em);
  }
  75% {
    transform: translateX(-0.25em);
  }
  100% {
    transform: translateX(-1.5em);
  }
}

@keyframes pageExit {
  10% {
    transform: scale(1, 0.002);
    border-top: 3px solid $color-black;
    border-bottom: 3px solid $color-black;
    transform-origin: center;
  }

  30% {
    transform: scale(0.2, 0.02);
    transform-origin: center;
    border-top: 3px solid $color-black;
    border-bottom: 3px solid $color-black;

    opacity: 1;
  }

  55% {
    transform: scale(0.5, 0.02);
    transform-origin: center;
    border-top: 3px solid $color-black;
    border-bottom: 3px solid $color-black;

    opacity: 1;
  }

  70% {
    transform: scale(0.1, 0.0002);
    transform-origin: center;
    border-top: 3px solid $color-black;
    border-bottom: 3px solid $color-black;

    opacity: 1;
  }

  85% {
    transform: scale(0.3, 0.02);
    transform-origin: center;
    border-top: 3px solid $color-black;
    border-bottom: 3px solid $color-black;

    opacity: 1;
  }

  100% {
    transform: scale(0.1, 0.0002);
    transform-origin: center;
    border-top: 3px solid $color-black;
    border-bottom: 3px solid $color-black;
    z-index: 1;
    opacity: 0;
  }
}

@keyframes pageEnter {
  100% {
    transform: scale(1, 0.002);
    border-top: 3px solid $color-black;
    border-bottom: 3px solid $color-black;
    transform-origin: center;
    opacity: 1;
    z-index: 2;
  }

  85% {
    transform: scale(0.2, 0.02);
    transform-origin: center;
    border-top: 3px solid $color-black;
    border-bottom: 3px solid $color-black;
    z-index: 2;
    opacity: 1;
  }

  70% {
    transform: scale(0.5, 0.02);
    transform-origin: center;
    border-top: 3px solid $color-black;
    border-bottom: 3px solid $color-black;
    z-index: 2;
    opacity: 1;
  }

  55% {
    transform: scale(0.1, 0.0001);
    transform-origin: center;
    border-top: 3px solid $color-black;
    border-bottom: 3px solid $color-black;
    z-index: 2;
    opacity: 1;
  }

  30% {
    transform: scale(0.3, 0.02);
    transform-origin: center;
    border-top: 3px solid $color-black;
    border-bottom: 3px solid $color-black;
    z-index: 2;
    opacity: 1;
  }

  10% {
    transform: scale(0.1, 0.0001);
    transform-origin: center;
    border-top: 3px solid $color-black;
    border-bottom: 3px solid $color-black;
    z-index: 2;
    opacity: 0;
  }
}
