<!DOCTYPE html>
<html lang="en" class="mdc-typography">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="React App Base Configuration" />
		<meta name="<%= htmlWebpackPlugin.options.title %>" content="code" />
		<title>
			<%= htmlWebpackPlugin.options.title %>
		</title>
		<!-- <link rel="shortcut icon" type="image/png" href="/favicon.png"/> -->
		<link rel="icon" href="data:;base64,iVBORw0KGgo=" />
	</head>

	<body>
		<div id="root"></div>
	</body>
</html>
